<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{ channel.title }}</title>
        <link>{{ channel.link }}</link>
        <description>{{ channel.description }}</description>
        <lang>{{ channel.lang|default('en-en') }}</lang>
        <copyright>{{ channel.copyright|default('') }}</copyright>
        <webMaster>{{ channel.webmaster|default('') }}</webMaster>
        {% if channel.image is defined %}
            <image>
                <title>{{ channel.image.title }}</title>
                <url>{{ channel.image.url }}</url>
                <link>{{ channel.image.link }}</link>
                <width>{{ channel.image.width }}</width>
                <height>{{ channel.image.height }}</height>
            </image>
        {% endif %}
        {% for item in channel.items %}
            <item>
                <title>{{ item.title }}</title>
                <description>{{ item.description }}</description>
                <guid isPermalink='{{ item.isPermalink|default(1) }}'>{{ item.guid }}</guid>
                <pubDate>{{ item.pubDate|date("D, d M Y H:i:s") }}</pubDate>
            </item>
        {% endfor %}
    </channel>
</rss>
